/** @format */
// 1. 声明字体
@font-face {
	font-family: "digital";
	src: url("./font/digital-7.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "Gotthard";
	src: url("./font/Gotthard.TTF") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "jdlangzhengti";
	src: url("./font/jdlangzhengti.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "PlusJakartaSans-SemiBoldItalic";
	src: url("./font/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
* {
	margin: 0;
}
.yxqk-box {
	width: 1920px;
	height: 1080px;
	background: #0d2c46 url("./img/06bg.webp") no-repeat;
	background-size: 100%;
	.box-title {
		display: flex;
		justify-content: space-around;
		width: 1920px;
		height: 40px;
		margin: auto;
		position: relative;
		z-index: 2;
		.updata {
			width: 270px;
			.updata-s1 {
				width: 204px;
				height: 56px;
				font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
				font-weight: 400;
				font-size: 12px;
				color: #d1eeff;
				line-height: 40px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
			}
			.updata-s2 {
				width: 496px;
				height: 56px;
				font-family: Gotthard;
				font-size: 14px;
				color: #d1eeff;
				line-height: 40px;
				letter-spacing: 1px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
				margin-left: 9px;
			}
		}
		.title-text {
			width: 510px;
			height: 40px;
			font-family: jdlangzhengti, jdlangzhengti;
			font-weight: normal;
			font-size: 40px;
			color: #ffffff;
			text-shadow: 0px 5px 0px rgba(27, 53, 79, 0.4);
			text-align: center;
			font-style: normal;
			margin-top: 20px;
		}
		.time {
			width: 280px;
			.icon {
				width: 48px;
				height: 48px;
			}
			.time-s1,
			.time-s2 {
				width: 230px;
				height: 40px;
				font-family: Gotthard;
				font-size: 14px;
				color: #d1eeff;
				line-height: 40px;
				letter-spacing: 1px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
			}
			.time-s2 {
				margin-left: 16px;
			}
		}
	}
	// 内容区
	.yxqk-content{
		width: 1920px;
		height: 950px;
		margin-top: 80px;
		position: relative;
		// 左侧
		.left,
		.right{
			width: 456px;
			height: 100%;
			position: absolute;
			.title{
				width: 456px;
				height: 50px;
				background: url(img/title-bg.png) no-repeat;
				background-size: 120%;
				display: flex ;
				justify-content: space-between;
				align-items: center;
				.txt1{
					font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
					font-weight: normal;
					font-size: 22px;
					color: #FFFFFF;
					margin-left: 68px;
				}
				.txt2{
					font-family: PingFangSC, PingFang SC;
					font-size: 16px;
					color: #C5E4F9;
					margin-right: 10px;
					cursor: pointer;
				}
			}
			// 网络可用率
			.content-one{
				padding: 8px;
				.data-details{
					width: 225px;
					height: 96px;
					display: flex;
					align-items: center;
				}
				.data-icon{
					width: 72px;
					height: 72px;
					img{
						width: 100%;
					}
				}
				.data-description{
					width: 155px;
					height: 96px;
					display: flex;
					text-align: left;
					flex-direction: column;
					justify-content: center;
					margin-left: 8px;
					.txt1{
						font-family: Gotthard;
						font-size: 24px;
						color: #FFFFFF;
					}
					.txt2{
						font-family: PingFangSC, PingFang SC;
						font-size: 16px;
						color: #7FB5D9;
					}
				}
			}
			// 总体运维故障统计
			.content-two{
				padding: 8px;
				margin-bottom: 35px;
				.data-details{
					width: 216px;
					height: 120px;
					display: flex;
					margin-top: 25px;
				}
				.data-description{
					width: 100%;
					height: 120px;
					display: flex;
					text-align: left;
					flex-direction: column;
					margin-left: 8px;
					background: url(img/ztyw-bg.png) no-repeat;
					background-size: 100%;
					.txt1{
						text-align: left;
						margin-top: 5px;
						font-family: Gotthard;
						font-size: 30px;
						color: #FFFFFF;
						text-shadow: 0px 0px 12px rgba(75,199,255,0.5);
						span:nth-child(1) {
							font-family: PingFangSC, PingFang SC;
							font-size: 12px;
							color: #7FB5D9;
						}
						span:nth-child(3) {
							font-family: Gotthard;
							font-size: 14px;
							color: #FF6E38;
						}
					}
					.txt2{
						font-family: PingFangSC, PingFang SC;
						font-size: 16px;
						color: #7FB5D9;
					}
				}
			}
			// 总体运维工单情况
			.content-three{
				
			}
		}
		.left{
			top: 0;
			left: 24px;
		}
		// 中间
		.center{
			width: 1280px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -640px;
			.txt-instructions{
				width: 800px;
				height: 25px;
				margin: 20px auto 0;
				.txt1,
				.txt2{
					font-family: PingFangSC, PingFang SC;
					font-weight: 400;
					font-size: 18px;
					color: #7FB5D9;
				}
				.txt1{
					float: left;
					margin-left: 85px;
				}
				.txt2{
					margin-left: -20px;
				}
			}
			.data-details{
				width: 800px;
				height: 65px;
				margin: 8px auto 0;
				background: url(img/wlkyl-bg.png) no-repeat;
				background-size: 100%;
				display: flex ;
				align-items: center;
				justify-content: center;
				.backbone-network{
					margin-left: 85px;
					width: 500px;
				}
				.core-system{
					width: 545px;
				}
				.backbone-network,
				.core-system{
					display: flex;
					div{
						width: 36px;
						height: 45px;
						font-family: Digital, Digital;
						font-weight: normal;
						font-size: 36px;
						color: #ffffff;
						line-height: 45px;
						text-align: center;
						margin-right:6px;
					}
				}
			}
		}
		// 右侧
		.right{
			top: 0;
			right: 24px;
			.content-two{
				width: 440px;
				height: 145px;
				padding: 8px;
				margin-bottom: 35px;
			}
		}
	}
}
