/** @format */

.yunwei {
	width: 15360px;
	height: 2160px;
	background: #0d2c46 url("./img/01_background.webp") no-repeat;
	position: relative;
}
* {
	margin: 0;
}
.yunwei {
	.min-title {
		height: 160px;
		font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
		font-weight: normal;
		font-size: 72px;
		color: #ffffff;
		line-height: 160px;
		letter-spacing: 4px;
		text-align: left;
		font-style: normal;
		padding-left: 236px;
		display: flex;
		align-items: center;
		> p {
			position: relative;
			span {
				height: 32px;
				font-family: PlusJakartaSans-Italic_SemiBold, PlusJakartaSans-Italic_SemiBold;
				font-size: 32px;
				color: #7fb5d9;
				line-height: 32px;
				text-align: left;
			}
		}
	}
	.left-content {
		width: 5792px;
		height: calc(2160px - 196px);
		padding-left: 225px;

		.top1-content {
			display: flex;
		}
		.top-left1 {
			width: 2640px;
			height: 896px;
			background: rbga(255, 255, 255, 0.2);
		}
		.top-left2 {
			width: 2640px;
			height: 896px;
			background: rbga(255, 255, 255, 0.2);
			margin-left: 160px;

			.top-left2-chart-title {
				margin-left: 32px;
				div:nth-child(1) {
					margin-top: 64px;
					font-family: PingFangSC, PingFang SC;
					font-weight: 400;
					font-size: 44px;
					color: #c5e4f9;
					line-height: 44px;
					height: 44px;
					text-align: left;
				}
				div:nth-child(2) {
					margin-top: 20px;
					height: 64px;
					font-family: Gotthard;
					font-size: 64px;
					color: #ffffff;
					line-height: 64px;
					text-align: left;
					font-style: normal;
				}
			}
			.chart-content {
				width: 2608px;
				height: 488px;
				margin-top: 48px;
			}
		}
		.bottom1-content {
			margin-top: 73px;
			.bottom1-content1 {
				display: flex;
			}
			.chart-content {
				width: 1696px;
				height: 704px;
				.jigui-title {
					margin-top: 38px;
					width: 640px;
					height: 88px;
					font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
					font-weight: normal;
					font-size: 52px;
					color: #c5e4f9;
					line-height: 88px;
					text-align: left;
					font-style: normal;
					margin-left: 64px;
				}
			}
			.computer-content {
				width: 3584px;
				height: 704px;
				margin-left: 160px;
				margin-top: 32px;
				position: relative;
				.computer-g1 {
					position: absolute;
					left: 0;
					top: 16px;
				}
				.computer-g2 {
					position: absolute;
					left: 768px;
					top: 0;
				}
				.computer-g3 {
					position: absolute;
					left: 1536px;
					top: 164px;
				}
				.computer-g4 {
					position: absolute;
					left: 2304px;
					top: 48px;
				}
				.computer-g5 {
					position: absolute;
					left: 3072px;
					top: 48px;
				}
				.detail {
					height: 160px;
					width: 3584px;
					border-image: linear-gradient(180deg, rgba(13, 161, 255, 0.3), rgba(8, 124, 255, 0)) 4 4;
					display: flex;
					align-items: center;
					justify-content: space-between;
					box-sizing: border-box;
					padding-left: 96px;
					padding-right: 96px;
					margin-top: 538px;
					.computer-title {
						width: 450px;
						height: 108px;
						text-align: center;
						line-height: 108px;
						font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
						font-size: 56px;
						color: #a5f1ff;
						text-align: center;
						font-style: normal;
						background: url("./img/computer-bg.png") no-repeat;
					}
					.text {
						span:nth-child(1) {
							width: 468px;
							height: 56px;
							font-family: PingFangSC, PingFang SC;
							font-weight: 400;
							font-size: 56px;
							color: #c5e4f9;
							line-height: 56px;
							text-align: center;
							font-style: normal;
							margin-right: 32px;
						}
						span:nth-child(2) {
							width: 176px;
							height: 64px;
							font-family: Gotthard;
							font-size: 64px;
							color: #ffffff;
							line-height: 64px;
							text-align: justify;
							font-style: normal;
						}
					}
				}
			}
		}
	}
	.el-table {
		background: transparent;
		font-family: PingFangSC, PingFang SC;
		font-size: 44px;
		color: #ffffff;
		line-height: 44px;
		text-align: left;
		font-style: normal;
	}
	/* 颜色 */
	:deep(.tag) {
		border-radius: 8px;
		padding: 0 24px;
		font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
		font-weight: normal;
		font-size: 40px;
		color: #ffffff;
		line-height: 60px;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
		text-align: center;
		font-style: normal;
		height: 60px;
		box-sizing: border-box;
		display: inline-block;
	}
	:deep(.tagRed) {
		background: #903c29;
	}
	.tagRed {
	}
	.el-table__header-wrapper {
	}
	:deep(.el-table th > .cell) {
		color: #7fb5d9;
	}
	:deep(.el-table td > .cell) {
		color: #ffffff;
	}
	:deep(.el-table tbody) {
		background: transparent;
		border: 1px solid transparent;
	}
	:deep(.el-table tr) {
		background: transparent;
		border: 1px solid transparent;
	}
	:deep(.el-table th.el-table__cell) {
		background: transparent;
	}
	:deep(.el-table .el-table__cell) {
		padding: 44px 0 40px 0;
	}
	:deep(.el-table .cell) {
		line-height: 44px;
	}
	:deep(.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell) {
		background: transparent !important;
	}
	:deep(tr.el-table__row--striped) {
		background: linear-gradient(270deg, rgba(44, 87, 122, 0.05) 0%, rgba(44, 87, 122, 0.25) 100%);
	}
	:deep(tr.el-table__row--striped:hover) {
		background: linear-gradient(270deg, rgba(44, 87, 122, 0.05) 0%, rgba(44, 87, 122, 0.25) 100%);
	}
	:deep(.el-table__body tr:hover > td) {
		background: transparent !important;
	}
	:deep(.el-table td.el-table__cell) {
		background: transparent;
	}
}
