/** @format */
@font-face {
	font-family: "digital";
	src: url("@/assets/font/digital-7.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "Gotthard";
	src: url("@/assets/font/Gotthard.TTF") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "jdlangzhengti";
	src: url("@/assets/font/jdlangzhengti.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "PlusJakartaSans-SemiBoldItalic";
	src: url("@/assets/font/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
h3,
p {
	padding: 0;
	margin: 0;
}
.yunxing {
	width: 15360px;
	margin: auto;
	height: 2160px;
	background: url(./img/02_background.webp) no-repeat;
}
.yunxing-content {
	width: 15360px;
	height: 1880px;
	margin-left: 228px;
	display: flex;
	.min-title {
		height: 160px;
		font-family: jdlangzhengti, jdlangzhengti;
		font-weight: normal;
		font-size: 72px;
		color: #ffffff;
		line-height: 160px;
		letter-spacing: 4px;
		text-align: left;
		font-style: normal;
		padding-left: 236px;
		display: flex;
		align-items: center;
		> p {
			position: relative;
			span {
				height: 32px;
				font-family: PlusJakartaSans-Italic_SemiBold, PlusJakartaSans-Italic_SemiBold;
				font-size: 32px;
				color: #7fb5d9;
				line-height: 32px;
				text-align: left;
			}
		}
	}
	.m-title {
		margin-top: 32px;
	}
	.distribution {
		height: 2044px;
		height: 572px;
		.info {
			height: 348px;
			display: flex;
			.total,
			.level {
				width: 960px;
				height: 348px;
				h3 {
					padding-top: 96px;
					height: 96px;
					font-family: Gotthard;
					font-size: 96px;
					color: #ffffff;
					line-height: 96px;
					text-shadow: 0px 0px 40px rgba(75, 199, 255, 0.3);
					text-align: left;
					font-style: normal;
				}
				p {
					height: 44px;
					font-family: PingFangSC, PingFang SC;
					font-weight: 400;
					font-size: 44px;
					color: #c5e4f9;
					line-height: 44px;
					font-style: normal;
					padding-top: 32px;
					text-align: left;
				}
			}
			.level {
				width: auto;
			}
		}
	}
	.rota {
		.scale {
			height: 25px;
		}
		.scale0 {
			background-color: #ff6e38;
		}
		.scale1 {
			background-color: #e4c85d;
		}
		.scale2 {
			background-color: #4be7ff;
		}
		.scale3 {
			background-color: #30a8fa;
		}
		.scale4 {
			background-color: #7fb5d9;
		}
		.describe {
			display: flex;
			height: 60px;
			margin-top: 40px;
			align-items: baseline;
			.legend {
				width: 32px;
				height: 32px;
				background: #000;
				transform: rotate(45deg);
			}
			.legend0 {
				background: #ff6e38;
			}
			.legend1 {
				background: #e4c85d;
			}
			.legend2 {
				background: #4be7ff;
			}
			.legend3 {
				background: #30a8fa;
			}
			.legend4 {
				background: #7fb5d9;
			}
			.txt1 {
				font-size: 40px;
				color: #7fb5d9;
				margin: 0 40px;
				font-family: PingFangSC, PingFang SC;
			}
			.txt2 {
				font-size: 40px;
				color: #fff;
				font-family: Gotthard;
			}
		}
	}
	.fenxi {
		width: 2064px;
		height: 988px;
		padding-top: 128px;
		.fenxi-content {
			position: relative;
			padding-top: 73px;

			.data {
				width: 880px;
				height: 352px;
				position: absolute;
				display: flex;
				align-items: center;
				p {
					width: 232px;
					height: 56px;
					font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
					font-weight: normal;
					font-size: 56px;
					color: #c5e4f9;
					line-height: 56px;
					text-align: left;
					font-style: normal;
				}
				h3 {
					width: 188px;
					height: 64px;
					font-family: Gotthard;
					font-size: 64px;
					color: #ffffff;
					line-height: 64px;
					text-align: left;
					font-style: normal;
				}
			}
			.data1 {
				left: 0;
				top: 73px;
				padding-left: 272px;
				background: url("./img/icon-data1.png") no-repeat;
				background-position: 36px center;
			}
			.data2 {
				left: 0;
				top: 490px;
				padding-left: 272px;
				background: url("./img/icon-data2.png") no-repeat;
				background-position: 36px center;
			}
			.data3 {
				right: 0;
				top: 190px;
				padding-left: 428px;
				box-sizing: border-box;
				width: 724px;
				height: 560px;
				background: url("./img/icon-data3.png") no-repeat;
				background-position: 192px center;
			}
			.fenxi-chart {
				margin: 112px auto 0;
				width: 720px;
				height: 720px;
			}
		}
	}
	.nian-guzhang {
		width: 2064px;
		height: 896px;
		margin-left: 160px;
		.min-title {
		}
		.info {
			padding-top: 32px;
			display: flex;

			.info-left {
				width: 544px;
				height: 128px;
				display: flex;
				padding-top: 32px;
				padding-left: 32px;
				> div {
					width: 312px;
					p {
						width: 200px;
						height: 48px;
						font-family: PingFangSC, PingFang SC;
						font-weight: 400;
						font-size: 48px;
						color: #7fb5d9;
						line-height: 48px;
						text-align: left;
						font-style: normal;
					}
					h3 {
						width: 64px;
						height: 64px;
						font-family: Gotthard;
						font-size: 64px;
						color: #ffffff;
						line-height: 64px;
						text-align: left;
						font-style: normal;
						padding-top: 16px;
					}
				}
				div:nth-child(2) {
					padding-left: 112px;
				}
			}
			.rota {
				.describe {
					.txt1 {
						font-size: 40px;
						color: #7fb5d9;
						margin: 0 60px 0 16px;
						font-family: PingFangSC, PingFang SC;
					}
				}
			}
			.info-right {
				width: 1388px;
				.legend-box {
					display: flex;
					.describe {
						display: flex;
						height: 60px;
						margin-top: 40px;
						align-items: baseline;
					}
					.legend {
						width: 32px;
						height: 32px;
						background: #000;
						transform: rotate(45deg);
					}
					.legend0 {
						background: #ff6e38;
					}
					.legend1 {
						background: #e4c85d;
					}
					.legend2 {
						background: #4be7ff;
					}
					.legend3 {
						background: #30a8fa;
					}
					.legend4 {
						background: #7fb5d9;
					}
					.txt1 {
						font-size: 40px;
						color: #7fb5d9;
						margin: 0 40px;
						font-family: PingFangSC, PingFang SC;
					}
					.txt2 {
						font-size: 40px;
						color: #fff;
						font-family: Gotthard;
					}
				}
			}
		}
		.bar-chart-box {
			width: 2032px;
			height: 480px;
			margin-top: 56px;
		}
		.gaojing {
			margin-top: 80px;
		}
		.gaojing-content {
			display: flex;
			justify-content: space-between;
			.gaojing-left-data,
			.gaojing-right-data {
				margin-top: 32px;
				ul {
					margin-top: 64px;

					li {
						height: 160px;
						width: 640px;
						box-sizing: border-box;
						display: flex;
						padding-left: 128px;
						padding-top: 56px;
						background: linear-gradient(270deg, rgba(44, 87, 122, 0.05) 0%, rgba(44, 87, 122, 0.25) 100%);
						border-radius: 8px;
						padding-right: 64px;
						justify-content: space-between;
						.p1 {
							height: 48px;
							font-family: PingFangSC, PingFang SC;
							font-weight: 400;
							font-size: 48px;
							color: #7fb5d9;
							line-height: 48px;
							text-align: left;
							font-style: normal;
						}
						.p2 {
							height: 48px;
							font-family: Gotthard;
							font-size: 48px;
							color: #ffffff;
							line-height: 48px;
							text-shadow: 0px 0px 32px rgba(75, 199, 255, 0.5);
							text-align: right;
							font-style: normal;
							text-align: right;
						}
					}
					li:nth-child(1) {
						margin-bottom: 22px;
						.p1 {
							position: relative;
						}
						img {
							position: absolute;
							left: -100px;
							top: -84%;
						}
					}
					li:nth-child(2) {
						margin-bottom: 32px;
						position: relative;
						span {
							position: absolute;
							left: 64px;
							top: 50%;
							margin-top: -12px;
							width: 24px;
							height: 24px;
							background: #52dc8d;
							border-radius: 50%;
						}
					}
					li:nth-child(3) {
						margin-bottom: 32px;
						position: relative;
						span {
							position: absolute;
							left: 64px;
							top: 50%;
							margin-top: -12px;
							width: 24px;
							height: 24px;
							background: #ff6e6e;
							border-radius: 50%;
						}
					}
				}
			}
			.gaojing-center-data {
				width: 416px;
				height: 416px;
				padding-top: 224px;
			}
		}
	}
	.fault {
		margin: 152px 0 0 160px;
		padding-left: 64px;
		width: 976px;
		height: 1808px;
		box-sizing: border-box;
		padding-right: 48px;
		.failt-title {
			color: #c5e4f9;
			font-size: 48px;
			text-align: left;
			font-family: PingFangSC, PingFang SC;
			height: 80px;
			line-height: 80px;
			padding-top: 64px;
			display: flex;
			justify-content: space-between;
			p {
			}
			.failt-total {
				color: #fff;
				font-size: 52px;
				margin: 0 20px;
				font-family: Gotthard;
			}
		}
		.failt-list {
			height: 1530px;
			overflow: auto;
			margin-top: 32px;
			.customTitle {
				color: red;
			}
			:deep(.el-collapse-item__header) {
				height: 192px;
				position: relative;
			}
			:deep(.el-collapse-item__header.is-active) {
				.title2 {
					color: #fff;
				}
			}
			:deep(.el-collapse-item__content) {
				padding: 20px 65px;
				border-radius: 16px;
				background: linear-gradient(180deg, rgba(24, 65, 96, 0) 0%, rgba(24, 65, 96, 0.3) 100%);
			}
			.title {
				color: #7fb5d9;
				text-align: left;
				.title1 {
					font-size: 32px;
					font-family: PingFangSC, PingFang SC;
					&::before {
						content: "";
						display: inline-block;
						width: 8px;
						height: 32px;
						margin-right: 15px;
						background: linear-gradient(180deg, rgb(75 231 255), rgba(75, 231, 255, 0.5));
					}
				}
				.title2 {
					width: 744px;
					font-size: 48px;
					margin-top: 44px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-family: PingFangSC, PingFang SC;
				}
				.status {
					width: 300px;
					height: 90px;
					position: absolute;
					top: 0;
					right: 15px;
					.status-txt {
						font-size: 32px;
						color: #7fb5d9;
						position: absolute;
						top: 20px;
						left: 125px;
					}
					.complete {
						width: 300px;
						height: 90px;
						background: url(img/tag_finish.png);
					}
				}
			}
			.txt1 {
				color: #7fb5d9;
				font-size: 40px;
				float: left;
				margin-right: 32px;
				font-family: PingFangSC, PingFang SC;
			}
			.txt2 {
				color: #c5e4f9;
				font-size: 40px;
				float: left;
				text-align: left;
				font-family: PingFangSC, PingFang SC;
			}
		}
		.failt-list ::-webkit-scrollbar {
			width: 5px;
			height: 15px;
		}
		.failt-list ::-webkit-scrollbar-track {
			display: none;
		}
		.failt-list ::-webkit-scrollbar-thumb {
			background-color: red;
			border-radius: 2.5px;
		}
		.failt-list ::-webkit-scrollbar-thumb:hover {
			background-color: yellow;
		}

		/*滚动条整体宽度*/
		.failt-list::-webkit-scrollbar {
			width: 20px; /*宽对应滚动条的尺寸*/
		}
		/*轨道*/
		.failt-list::-webkit-scrollbar-track {
			display: none;
		}
		/*滑块*/
		.failt-list::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: rgba(127, 181, 217, 0.5);
		}
		:deep(.el-collapse) {
			border: none;
		}
		:deep(.el-collapse-item) {
			margin-top: 32px;
		}
		:deep(.el-collapse-item__header) {
			background-color: transparent;
			border: none;
			padding-left: 65px;
			background: url("./img/fault-title.png") no-repeat;
		}
		:deep(.el-collapse-item__header.is-active) {
			background: url("./img/fault-title-active.png") no-repeat;
		}
		:deep(.el-collapse-item__wrap) {
			border: none;
			padding: 20px 0;
			background: transparent;
		}
	}
	:deep(.el-select) {
		width: 184px;
		height: 80px;
		background: rgba(28, 69, 99, 0.5);
		box-shadow: 0px 8px 0px -4px #4be7ff;
		border-radius: 8px;
	}
	:deep(.el-input__inner) {
		width: 184px;
		height: 80px;
		background: rgba(28, 69, 99, 0.5);
		font-family: PingFangSC, PingFang SC;
		font-weight: 500;
		font-size: 40px;
		color: #c5e4f9;
		line-height: 80px;
		text-align: right;
		font-style: normal;
		border: none;
	}
	:deep(.el-input__icon) {
		width: 56px;
	}
	:deep(.el-input--suffix .el-input__inner) {
		padding-right: 56px;
		font-size: 40px;
	}

	:deep(.el-select .el-input .el-select__caret) {
		font-size: 40px;
	}
	:deep(.el-select-dropdown) {
		background: rgba(28, 69, 99, 0.5);
		font-size: 40px;
	}
	:deep(.el-select-dropdown__item) {
		background: rgba(28, 69, 99, 0.5);
		height: 80px;
		line-height: 80px;
		font-size: 40px;
		border: none;
		color: #c5e4f9;
	}

	/* 折叠 */
	.fault-statistics {
	}
}
