/** @format */
// 1. 声明字体
@font-face {
	font-family: "digital";
	src: url("./font/digital-7.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "Gotthard";
	src: url("./font/Gotthard.TTF") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "jdlangzhengti";
	src: url("./font/jdlangzhengti.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
@font-face {
	font-family: "PlusJakartaSans-SemiBoldItalic";
	src: url("./font/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // 性能优化
}
.ywfw-box {
	width: 7680px;
	height: 2160px;
	background: #0d2c46 url("./img/04_background.webp") no-repeat;
	position: relative;
	// display: flex;
}
* {
	margin: 0;
}
.ywfw-box {
	.box-title {
		display: flex;
		justify-content: space-between;
		width: 6300px;
		height: 160px;
		margin: auto;
		padding-top: 40px;
		position: relative;
		z-index: 2;
		.updata {
			.updata-s1 {
				width: 204px;
				height: 56px;
				font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
				font-weight: 400;
				font-size: 48px;
				color: #d1eeff;
				line-height: 56px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
			}
			.updata-s2 {
				width: 496px;
				height: 56px;
				font-family: Gotthard;
				font-size: 56px;
				color: #d1eeff;
				line-height: 56px;
				letter-spacing: 4px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
				margin-left: 36px;
			}
		}
		.title-text {
			width: 1776px;
			height: 136px;
			font-family: jdlangzhengti, jdlangzhengti;
			font-weight: normal;
			font-size: 136px;
			color: #ffffff;
			line-height: 56px;
			letter-spacing: 12px;
			text-shadow: 0px 16px 0px rgba(27, 53, 79, 0.4);
			text-align: center;
			font-style: normal;
			padding-top: 24px;
			/* 	background: linear-gradient(270deg, #d1eeff 0%, #ffffff 100%); */
		}
		.time {
			width: 1000px;
			.icon {
				width: 48px;
				height: 48px;
			}
			.time-s1,
			.time-s2 {
				width: 496px;
				height: 56px;
				font-family: Gotthard;
				font-size: 56px;
				color: #d1eeff;
				line-height: 56px;
				letter-spacing: 4px;
				text-shadow: 0px 0px 16px rgba(0, 60, 124, 0.5);
				text-align: left;
				font-style: normal;
			}
			.time-s2 {
				margin-left: 68px;
			}
		}
	}
	.box-content {
		display: flex;
		// 运维故障统计
		.fault-statistics {
			width: 1776px;
			height: 1872px;
			margin-left: 128px;
			position: relative;
			z-index: 2;
			.top {
				display: flex;
				justify-content: space-between;
				margin-left: 240px;
				height: 145px;
				line-height: 145px;
				.title {
					color: #fff;
					font-size: 72px;
					font-family: jdlangzhengti, jdlangzhengti;
				}
			}
			.distribution-title {
				width: 325px;
				margin: 45px 0 0 60px;
				font-size: 52px;
				color: #c5e4f9;
				font-family: jdlangzhengti, jdlangzhengti;
			}
			.total-failure {
				// width: 100%;
				height: 250px;
				// border: 1px solid #ccc;
				.left {
					margin-top: 40px;
					.txt1 {
						color: #c5e4f9;
						font-size: 44px;
						font-family: PingFangSC, PingFang SC;
					}
					.txt2 {
						color: #fff;
						font-size: 64px;
						margin-top: 20px;
						font-family: Gotthard;
						text-shadow: 0 0 10px rgba(75, 199, 255, 0.3), 0 0 20px rgba(75, 199, 255, 0.3), 0 0 40px rgba(75, 199, 255, 0.3);
					}
				}
				.right {
					height: 100%;
					margin-top: 60px;
					.scale {
						height: 25px;
					}
					.scale1 {
						background-color: #e4c85d;
					}
					.scale2 {
						background-color: #4be7ff;
					}
					.scale3 {
						background-color: #30a8fa;
					}
					.scale4 {
						background-color: #7fb5d9;
					}
					.describe {
						display: flex;
						height: 60px;
						margin-top: 40px;
						align-items: baseline;
						.legend {
							width: 32px;
							height: 32px;
							background: #000;
							transform: rotate(45deg);
						}
						.legend1 {
							background: #e4c85d;
						}
						.legend2 {
							background: #4be7ff;
						}
						.legend3 {
							background: #30a8fa;
						}
						.legend4 {
							background: #7fb5d9;
						}
						.txt1 {
							font-size: 40px;
							color: #7fb5d9;
							margin: 0 40px;
							font-family: PingFangSC, PingFang SC;
						}
						.txt2 {
							font-size: 40px;
							color: #fff;
							font-family: Gotthard;
						}
					}
				}
			}
			.fault {
				margin: 75px 0 0 60px;
				.failt-title {
					color: #c5e4f9;
					font-size: 48px;
					text-align: left;
					font-family: PingFangSC, PingFang SC;
					height: 80px;
					line-height: 80px;
					padding-top: 64px;
					.failt-total {
						color: #fff;
						font-size: 52px;
						margin: 0 20px;
						font-family: Gotthard;
					}
				}
				.failt-list {
					height: 1120px;
					overflow: auto;
					margin-top: 32px;
					.customTitle {
						color: red;
					}
					:deep(.el-collapse-item__header) {
						height: 192px;
						position: relative;
					}
					:deep(.el-collapse-item__header.is-active) {
						.title2 {
							color: #fff;
						}
					}
					:deep(.el-collapse-item__content) {
						padding: 20px 65px;
						border-radius: 16px;
						background: linear-gradient(180deg, rgba(24, 65, 96, 0) 0%, rgba(24, 65, 96, 0.3) 100%);
					}
					.title {
						color: #7fb5d9;
						text-align: left;
						.title1 {
							font-size: 32px;
							font-family: PingFangSC, PingFang SC;
							&::before {
								content: "";
								display: inline-block;
								width: 8px;
								height: 32px;
								margin-right: 15px;
								background: linear-gradient(180deg, rgb(75 231 255), rgba(75, 231, 255, 0.5));
							}
						}
						.title2 {
							width: 1580px;
							font-size: 48px;
							margin-top: 44px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							font-family: PingFangSC, PingFang SC;
						}
						.status {
							width: 300px;
							height: 90px;
							position: absolute;
							top: 0;
							right: 15px;
							.status-txt {
								font-size: 32px;
								color: #7fb5d9;
								position: absolute;
								top: 20px;
								left: 125px;
							}
							.complete {
								width: 300px;
								height: 90px;
								background: url(img/tag_finish.png);
							}
						}
					}
					.txt1 {
						color: #7fb5d9;
						font-size: 40px;
						float: left;
						margin-right: 32px;
						font-family: PingFangSC, PingFang SC;
					}
					.txt2 {
						color: #c5e4f9;
						font-size: 40px;
						float: left;
						text-align: left;
						font-family: PingFangSC, PingFang SC;
					}
				}
				.failt-list ::-webkit-scrollbar {
					width: 5px;
					height: 15px;
				}
				.failt-list ::-webkit-scrollbar-track {
					display: none;
				}
				.failt-list ::-webkit-scrollbar-thumb {
					background-color: red;
					border-radius: 2.5px;
				}
				.failt-list ::-webkit-scrollbar-thumb:hover {
					background-color: yellow;
				}

				/*滚动条整体宽度*/
				.failt-list::-webkit-scrollbar {
					width: 20px; /*宽对应滚动条的尺寸*/
				}
				/*轨道*/
				.failt-list::-webkit-scrollbar-track {
					display: none;
				}
				/*滑块*/
				.failt-list::-webkit-scrollbar-thumb {
					border-radius: 5px;
					background: rgba(127, 181, 217, 0.5);
				}
			}
		}
		// 审单情况  放行情况
		.document-review,
		.release-review {
			width: 510px;
			height: 1500px;
			margin: 125px 0 0 140px;
			.document-review-title,
			.release-review-title {
				color: #fff;
				font-size: 80px;
			}
			:deep(.el-table),
			:deep(.el-table tr),
			:deep(.el-table th),
			:deep(.el-table td),
			:deep(.el-table__expanded-cell) {
				background: transparent;
				border: none;
			}
			:deep(.el-table::before) {
				height: 0;
			}
			:deep(.el-table td.el-table__cell div) {
				border-bottom: none;
				height: 100px;
				font-size: 48px;
				line-height: 100px;
			}
			:deep(.el-table__header-wrapper th .cell) {
				color: #557d97;
				font-size: 40px;
				height: 75px;
				line-height: 75px;
				font-family: PingFangSC, PingFang SC;
			}
			:deep(.el-table__row:nth-child(odd)) {
				background: linear-gradient(270deg, rgba(44, 87, 122, 0.25), rgba(44, 87, 122, 0.05));
			}
			:deep(.el-table__row td:nth-child(1) .cell) {
				color: #7fb5d9;
				font-family: Gotthard;
			}
			:deep(.el-table__row td:nth-child(2) .cell) {
				color: #fff;
				font-family: Gotthard;
			}
		}
		// 当前受影响系统
		.system {
			width: 2500px;
			height: 1500px;
			margin: 85px 0 0 30px;
			position: relative;
			.system-num {
				width: 400px;
				height: 230px;
				padding: 30px;
				position: absolute;
				top: 120px;
				left: 80px;
				text-align: left;
				.txt1 {
					color: #7fb5d9;
					font-size: 40px;
					font-family: PingFangSC, PingFang SC;
				}
				.txt2 {
					color: #7fb5d9;
					font-size: 80px;
					font-family: Gotthard;
				}
			}
			.system-rotation {
				width: 1600px;
				height: 1600px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -600px 0 0 -800px;
				background: url(img/rotation.png) no-repeat;
				animation: rotation 2s linear infinite;
			}
			@keyframes rotation {
				to {
					transform: rotate(360deg);
				}
			}
			.system-loading {
				width: 1300px;
				height: 500px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -35px 0 0 -630px;
				// background: url(img/loading.png) no-repeat;
			}
			.system-list-box {
				width: 1400px;
				height: 1400px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -500px 0 0 -700px;
				.system-list {
					width: 200px;
					height: 200px;
					position: absolute;
					margin-left: -80px;
					transform: translate(-50%, -50%);
					transition: all 0.3s ease;
					display: flex;
					align-items: center;
					justify-content: center;
					// transform: translate(calc(-50% + var(left, 0)), calc(-50% + var(top, 0)));
					.system-list-img {
						width: 160px;
						height: 160px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: url(img/system-fault.png);
						color: #ffd432;
						font-size: 64px;
						font-family: Gotthard;
					}
					.txt1 {
						color: #c5e4f9;
						font-size: 44px;
						position: absolute;
						top: 160px;
						font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
					}
				}
			}
		}
		// 放行情况
		.release-review {
			margin: 125px 0 0 35px;
		}
		// 实施变更  未回复告警
		.notice {
			width: 1800px;
			height: 1800px;
			margin-left: 135px;
			.implement-changes,
			.unresolved-alarm {
				.implement-changes-title,
				.unresolved-alarm-title {
					height: 140px;
					margin: 15px 0 0 250px;
					text-align: left;
					.txt1 {
						color: #fff;
						font-size: 72px;
						font-family: JDLANGZHENGTI--GB1, JDLANGZHENGTI--GB1;
					}
					.txt2 {
						color: #7fb5d9;
						font-size: 32px;
						margin-left: 30px;
						font-family: PlusJakartaSans-Italic_SemiBold, PlusJakartaSans-Italic_SemiBold;
					}
				}
				.implement-changes-box,
				.unresolved-alarm-box {
					width: 100%;
					height: 800px;
					.implement-changes-list,
					.unresolved-alarm-list {
						height: 160px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 30px;
						.list-img {
							width: 96px;
							height: 96px;
							margin-left: 35px;
							background: url(img/point.png) no-repeat;
						}
						.list-txt {
							width: calc(100% - 400px);
							height: 100%;
							color: #c5e4f9;
							font-size: 48px;
							text-align: left;
							margin-left: 30px;
							display: flex;
							align-items: center;
							font-family: PingFangSC, PingFang SC;
						}
						.list-time {
							width: 250px;
							color: #7fb5d9;
							font-size: 48px;
							font-family: Gotthard;
						}
					}
					.implement-changes-list:nth-child(even),
					.unresolved-alarm-list:nth-child(even) {
						background: linear-gradient(270deg, rgba(44, 87, 122, 0.05), rgba(44, 87, 122, 0.25));
					}
				}
			}
		}
	}
}
